<!-- Global Container -->
<div class="flex flex-col text-2xl items-center min-h-full bg-Light_grayish_cyan md:h-screen md:justify-center">

  <!--Headline -->
  <div class="my-9 tracking-[0.25em] text-Dark_grayish_cyan">
    <h1>SPLI</h1>
    <h1>TTER</h1>
  </div>

   <!--- Calc-Box -->
  <div class="flex flex-col justify-center p-6 min-h-full w-full rounded-t-3xl bg-White md:flex-row md:rounded-3xl md:w-fit min-h-0">

    <section class="md:mr-6">
      <!-- Bill Text -->
      <p class="mt-2 mb-1 text-base text-Dark_grayish_cyan">Bill</p>

      <!-- Input Box -->
      <div class="relative mb-8">
        <input class="p-2 text-right w-full bg-Very_light_grayish_cyan rounded-md focus:outline-Strong_cyan hover:outline hover:outline-2 hover:outline-Strong_cyan" [value]="" placeholder="0">
        <img class="absolute top-4 left-4" src="assets/images/icon-dollar.svg" alt="doller icon">
      </div>

      <!-- Grid Select Tip Box -->
      <div class="flex flex-col justify-center text-White">
        <span class="text-base mb-6 text-Dark_grayish_cyan">Select Tip %</span>
        <div class="grid grid-cols-2 gap-4 place-content-center h-40 w-full md:grid-cols-3 md:w-96">
          <button class="flex justify-center py-2 items-center rounded-md bg-Very_dark_cyan hover:bg-Light_grayish_cyan hover:text-Very_dark_cyan focus:bg-Strong_cyan focus:text-Very_dark_cyan">5%</button>
          <button class="flex justify-center py-2 items-center rounded-md bg-Very_dark_cyan hover:bg-Light_grayish_cyan hover:text-Very_dark_cyan focus:bg-Strong_cyan focus:text-Very_dark_cyan">10%</button>
          <button class="flex justify-center py-2 items-center rounded-md bg-Very_dark_cyan hover:bg-Light_grayish_cyan hover:text-Very_dark_cyan focus:bg-Strong_cyan focus:text-Very_dark_cyan">15%</button>
          <button class="flex justify-center py-2 items-center rounded-md bg-Very_dark_cyan hover:bg-Light_grayish_cyan hover:text-Very_dark_cyan focus:bg-Strong_cyan focus:text-Very_dark_cyan">25%</button>
          <button class="flex justify-center py-2 items-center rounded-md bg-Very_dark_cyan hover:bg-Light_grayish_cyan hover:text-Very_dark_cyan focus:bg-Strong_cyan focus:text-Very_dark_cyan">50%</button>

          <input placeholder="Custom" class="flex justify-center text-center items-center rounded-md text-Dark_grayish_cyan bg-Very_light_grayish_cyan focus:outline-Strong_cyan focus:text-Very_dark_cyan hover:outline hover:outline-2 hover:outline-Strong_cyan">
        </div>
      </div>

      <!-- Number of People Text -->
      <p class="mt-10 text-base text-Dark_grayish_cyan">Number of People</p>

      <!-- Number of People Input Box -->
      <div class="relative mt-2">
        <input class="p-2 text-right w-full bg-Very_light_grayish_cyan rounded-md focus:outline-Strong_cyan hover:outline hover:outline-2 hover:outline-Strong_cyan" [value]="" placeholder="0">
        <img class="absolute top-4 left-4" src="assets/images/icon-person.svg" alt="doller icon">
      </div>

    </section>

    <!-- Final Box -->
    <div class="flex flex-col mt-6 p-10 space-y-8 justify-center bg-Very_dark_cyan rounded-xl md:mt-0 md:justify-between md:w-96">

      <div class="space-y-8">
        <!-- Tip Amount Section -->
        <div class="flex justify-between text-Strong_cyan">

          <div>
            <h2 class="text-sm text-White">Tip Amount</h2>
            <p class="text-xs text-Grayish_cyan">/ person</p>
          </div>

          <!-- Price per Person -->
          <div>
            <h1>$4.27</h1>
          </div>

        </div>

        <!-- Total Section -->
        <div class="flex justify-between text-Strong_cyan">

          <div>
            <h2 class="text-sm text-White">Total</h2>
            <p class="text-xs text-Grayish_cyan">/ person</p>
          </div>

          <!-- Total Price -->
          <div>
            <h1>$32.97</h1>
          </div>

        </div>
      </div>


      <!-- Reset Button -->
      <button class="p-2 rounded-md text-Very_dark_cyan bg-Strong_cyan">RESET</button>



    </div>


  </div>

</div>
